<div class="cart">
    <h1>Cart</h1>
    <div class="cart-left">
        <div class="c-products">
            <div class="c-product" *ngFor="let product of api.cart.value">
                <div class="c-image">
                    <img *ngIf="product.image" [src]="product.image" width="200">
                    <img *ngIf="!product.image" src="../../assets/rice.webp" width="200">
                </div>
                <div class="c-desc">
                    {{product.name}}<br />
                    {{product.weight}} KG <br />
                    ₹ {{product.price}}<br />
                </div>
                <div class="c-quantity">
                    <button (click)="product.quantity = product.quantity+1">+</button>
                    <input type="text" [(ngModel)]="product.quantity" [value]="product.quantity">
                    <button (click)="product.quantity = product.quantity-1">-</button>
                </div>

            </div>
        </div>
    </div>
    <div class="cart-right">
        <h2>Price Details</h2>
        <h4>No. of Items : {{api.cart.length}} </h4>
        <button (click)="placeOrder()">Place Order</button>
    </div>
</div>