<div class="main">
    <div class="header">
        <h1><b>Edit Listing</b></h1>
        <button (click)="allProducts()">All Products</button>
    </div>
    <div>
        <img [src]="product.images[0]" width="200" *ngIf="product.images[0]">
        <input type="file" [(ngModel)]="product.images[0]" (change)="onFileChange($event)">
    </div>
    <div>
        <input type="text" [(ngModel)]="product.name" placeholder="Product Name" name="name" value="Ultima Rice"><br>
    </div>
    <div>
        <select [(ngModel)]="product.category">
            <option value="" disabled selected>Select Category</option>
            <option value="Fruits">Fruits</option>
            <option value="Vegetables">Vegetables</option>
            <option value="Meats">Meats</option>
            <option value="Dairy">Dairy</option>
            <option value="Grains">Grains</option>
            <option value="Nuts">Nuts</option>
            <option value="Spices">Spices</option>
            <option value="Herbs">Herbs</option>
            <option value="Other">Other</option>
        </select>
    </div>
    <div>
        <input type="textarea" [(ngModel)]="product.description" placeholder="Description" name="description"
            value="Bullet rice"><br>
    </div>
    <div class="productList">
        <div class="product-item" *ngFor="let item of product.productList;let index">
            <input type="number" [(ngModel)]="item.weight" placeholder="weight" name="weight">
            <select [(ngModel)]="item.unit">
                <option value="" disabled>Select Unit</option>
                <option value="kg">KG</option>
                <option value="g">G</option>
                <option value="mg">MG</option>
                <option value="lb">LB</option>
                <option value="oz">OZ</option>
            </select>
            <input type="number" [(ngModel)]="item.price" name="price" placeholder="price">
            <button (click)="deleteProductListItem(index)">Delete</button>
        </div>
        <button (click)="addProductListItem()">Add Product</button>
    </div>
    <button (click)="addListing()">Update Listing</button>
</div>