.main {
    width: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 12px;

    width: 239.04px;
    height: 289.52px;

    /* White */

    background: #FFFFFF;
    /* S2 */

    box-shadow: 0px 10px 16px -2px rgba(50, 50, 71, 0.06);
    border-radius: 15px;
}

.box {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 10px 0px;
}

.desc {
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
}

.price-quantity {
    display: flex;
    flex-direction: row;
}

.edit {
    margin: 5px;
}