<div class="main">
    <h1><b>Product Listing</b></h1>
    <div class="header">
        <div class="categories">

        </div>
        <div class="search">

        </div>
    </div>
    <div class="sub-header">
        <button (click)="addProduct()">
            Add Product
        </button>
    </div>
    <div class="products">
        <div class="product" *ngFor="let product of products">
            <img [src]="product.images[0]" width="200">
            <div class="box">
                <div class="desc">
                    <div class="name">
                        <span>{{product.name}}</span>
                    </div>
                    <div class="price-quantity">
                        <span>Weight {{product.productList[0].weight}} KG</span>
                        <span>Price ₹{{product.productList[0].price}}</span>
                    </div>
                </div>
            </div>
            <div class="edit">
                <button (click)="edit(product)"><mat-icon>edit</mat-icon>Edit</button>
            </div>
        </div>
    </div>
</div>