<div class="main">
    <div class="header">
        <div class="logo">
            <h2><b>FarmLink</b></h2>
        </div>
        <div class="search">
            <input type="search">
        </div>
        <div class="cart">
            <mat-icon>shopping_cart</mat-icon>My Cart
        </div>
        <div class="account">
            <mat-icon>person</mat-icon>My Account
        </div>
    </div>
    <div class="container">
        <div class="left">
            <mat-accordion>
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Prices
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <!-- Content -->
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Quantity
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <!-- Content -->
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Categories
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <!-- Content -->
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Brands
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <!-- Content -->
                </mat-expansion-panel>

            </mat-accordion>
        </div>
        <div class="right">
            <div class="categories">

            </div>
            <div class="products">
                <div class="product" *ngFor="let product of products">
                    <img *ngIf="product.images" [src]="product.images[0]" width="200">
                    <img src="../../assets/rice.webp" width="200">
                    <div class="box">
                        <div class="desc">
                            <div class="name">
                                <span>{{product.name}}</span>
                            </div>
                            <div class="price-quantity">
                                <span>{{product.productList[0].weight}} KG</span>
                                <span>₹{{product.productList[0].price}}</span>
                            </div>
                        </div>
                        <div class="edit">
                            <button><mat-icon>add</mat-icon></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>