<div class="main">
        <div class="header">
            <div class="logo" (click)="home()">
                <img src="../../assets/LOGO.svg" height="85">
            </div>
            <div class="search">
                <input type="search" placeholder="Search">
            </div>
            <div class="right">
                <div class="cart" (click)="cart()">
                    <span>{{api.cart.value?.length}}</span> <mat-icon>shopping_cart</mat-icon>&nbsp;&nbsp; My Cart
                </div>
                <div class=" account" (click)="myaccount()">
                    <mat-icon>person</mat-icon> &nbsp;&nbsp;My Account
                </div>
                <mat-icon (click)="logout()">logout</mat-icon> &nbsp;&nbsp;
            </div>

        </div>
    <div class="container">
        <router-outlet></router-outlet>
    </div>

</div>