<div class="main">
    <div class="filter">
        <mat-accordion>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Categories
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-checkbox value="Pending" (change)="statusChange()"
                    [(ngModel)]="status.Pending">Pending</mat-checkbox><br />
                <mat-checkbox value="Pick" [(ngModel)]="status.Processing" (change)="statusChange()">Pick
                    Schedule</mat-checkbox><br />
                <mat-checkbox value="Completed" [(ngModel)]="status.Completed"
                    (change)="statusChange()">Completed</mat-checkbox><br />
            </mat-expansion-panel>

        </mat-accordion>
    </div>
    <div class="orders">
        <h1>My Orders</h1>
        <div class="products">
            <div class="order" *ngFor="let order of orders">
                <div class="img">
                    <img src="">
                </div>
                <div class="data">
                    {{order.productId.name}}<br />
                    {{order.weight}} kg x {{order.quantity}}<br />
                    ₹ {{order.price}}<br />
                </div>
                <div class="action">
                    <button>Cancel</button>
                    <button>Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>